// Place all the styles related to the Employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

img, svg {
  margin: 0 5px 0 0;
}

th {
  color: #D0D0D0;
}

body {
  margin: 100px;
}

